$def with ()
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>index</title>
</head>
<body>

<h1>Hello World</h1>

<div>
	Check <a href="/env">Environment Variables</a> of this web server.
</div>
	
<div>
	Check the <a href="/json1">Json Example (JQuery)</a>.
</div>

<div>
	Check the <a href="/json2">Json Example (VanillaJS)</a>.
</div>

<div>
	Check the <a href="/bootstrap">Bootstrap Examples</a>.
</div>

<div>
	Check the <a href="/authorisation">Authorisation Examples</a>.
</div>
<hr/>
<div>
	<a href="/login?logout=true">Logout</a>.
</div>

</body>
</html>
