<div data-ng-controller="MainCtrl" class="container-fluid">

	<!--p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p-->
	
	<!--{{zimmer}}-->
	
	<div data-ng-show="loaded.all" class="row">
		<div class="col-xlg-4">
		
			<div data-ng-repeat="z in data" 
			     id="Z{{zim.nr}}" 
			     data-ng-if="z.trackt == 'Neubau'"
			     class="list-group">
			
				<div data-ng-repeat="b in z.betten" 
					   data-ng-if="b"
					   id="B{{value.id}}" class="list-group-item list-group-item-{{b.class}} bett">

					<div class="btn-group" role="group" data-ng-if="b.patient.PD_Sex">
						<button type="button" class="btn btn-default zimmernummer">{{z.nr}}B{{b.bett}}</button>
						<button type="button" class="btn btn-info mysex">{{b.patient.PD_Sex}}</button>
						<button type="button" class="btn btn-success age">{{b.age}}</button>
					</div>

					<div class="btn-group" role="group" data-ng-if="!b.patient.PD_Sex">
						<button type="button" class="btn btn-default zimmernummer">{{z.nr}}B{{b.bett}}</button>
					</div>
					
					<span data-ng-if="b.patient.PD_Name">
						{{b.patient.PD_Name}} {{b.patient.PD_Vorname}}
					</span>
				</div>
			</div><!-- end zimmer loop-->
			
		</div><!-- end col 1 -->
		<div class="col-xlg-4">
			
			<div data-ng-repeat="z in data" 
			     id="Z{{zim.nr}}" 
			     data-ng-if="z.trackt == 'K1'"
			     class="list-group">
			
				<div data-ng-repeat="b in z.betten" 
					   data-ng-if="b"
					   id="B{{value.id}}" class="list-group-item list-group-item-{{b.class}} bett">

					<div class="btn-group" role="group" data-ng-if="b.patient.PD_Sex">
						<button type="button" class="btn btn-default zimmernummer">{{z.nr}}B{{b.bett}}</button>
						<button type="button" class="btn btn-info mysex">{{b.patient.PD_Sex}}</button>
						<button type="button" class="btn btn-success age">{{b.age}}</button>
					</div>

					<div class="btn-group" role="group" data-ng-if="!b.patient.PD_Sex">
						<button type="button" class="btn btn-default zimmernummer">{{z.nr}}B{{b.bett}}</button>
					</div>
					
					<span data-ng-if="b.patient.PD_Name">
						{{b.patient.PD_Name}} {{b.patient.PD_Vorname}}
					</span>
				</div>
			</div><!-- end zimmer loop-->
			
			</div>
			<div class="col-xlg-4">COL 3</div>
		</div><!-- end row container -->
	
	</div><!-- end show -->
	
	<!-- 
	Liste:
	{{patienten}}
	<ul>
		<li ng-repeat="pat in patienten">
			{{pat.PD_Vorname}} / {{pat.location}}
		</li>
	</ul>
	-->
</div>
