<div ng-controller="MainCtrl">

	<!--p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p-->
	
	<!--{{zimmer}}-->
	
	<div ng-show="loaded.all">
	
		<div ng-repeat="row in data" id="Z{{row.zimmer}}">
			<span style="display: none">Zimmer {{row.zimmer}}</span>
			<div class="list-group">
			<div ng-repeat="bett in zim.betten" id="Z{{zim.nr}}B{{bett}}" class="list-group-item list-group-item-info bett">
				<span class="zimmernummer">{{zim.nr}}B{{bett}}
			</div>
		</div>
		
	</div><!-- end show -->
	
	<!-- 
	Liste:
	{{patienten}}
	<ul>
		<li ng-repeat="pat in patienten">
			{{pat.PD_Vorname}} / {{pat.location}}
		</li>
	</ul>
	-->
</div>
